@import '@fontsource/inter/400.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';
@import '@fontsource/inter/400-italic.css';

@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
}

:root {
  color-scheme: dark;
}

body {
  font-family: var(--font-sans);
  background-color: #0a0a0f;
  color: #f3f4f6;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ascundere scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.perspective-1000 {
  perspective: 1200px;
}